.barchart-container{
    position: relative;
}
#barchart-group-container{
    position:absolute;
}
.barchart-wrapper{
    position:absolute;
}
#barchart_tooltip {
    position: absolute;
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
}
#barchart_tooltip h4{

    font-size:14px;
}
